<?xml version="1.0" encoding="UTF-8"?>
<div data-template="templates:surround" data-template-with="/../../sade-projects/textgrid/templates/tmpl1/page_index.html" data-template-at="content-container">
    <div class="container">
        <div data-template="f-misc:dokuwiki" data-template-id="verzeichnis_der_abkuerzungen" data-template-codepage="unparsed"/>
    </div>
</div>
