<div data-template="templates:surround" data-template-with="/../../sade-projects/textgrid/templates/tmpl1/page_index.html" data-template-at="content-container">
    <div class="container FontaneAuth">
        <div class="row">
            <form class="form" method="post" id="loginform">
                <div class="col-xs-10">
                    <input name="authstr" type="password" id="authstr" class="form-control" placeholder="Passwort"/>
                </div>
                <button type="submit" class="btn btn-dark" onclick="createCookie('fontaneAuth', document.getElementById('authstr').value, 140)">Send</button>
            </form>
            <script type="text/javascript" charset="utf-8">
                var str = location.toString();
                var redir = str.substring(str.indexOf("redirect=")+9);
                document.getElementById("loginform").setAttribute("action", redir);
            </script>
        </div>
    </div>
    <script src="js/goldenconfig.js"/>
</div>
