<?xml version="1.0" encoding="UTF-8"?>
<ul class="nav navbar-nav" data-template="nav:navitems"><!-- config the output templates --><!-- the output processing -->
    <li class="dropdown" data-template="templates:each" data-template-from="navitems" data-template-to="item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-template="nav:head">
            <b class="caret"/>
        </a>
        <ul class="dropdown-menu" data-template="nav:subitems">
            <li data-template="templates:each" data-template-from="subitems" data-template-to="subitem">
                <a href="#" data-template="nav:subitem"/>
            </li>
        </ul>
    </li>
</ul><!--        <span class="dropdown-menu" data-template="nav:subitems">--><!--        <ul data-template="templates:each" data-template-from="subitems" data-template-to="subitem">--><!--                <span data-nav="choice" data-template="nav:subitemchoice">--><!--                    <li data-nav-choice="item"><a href="#">link</a></li>--><!--                    <li data-nav-choice="divider" class="divider"></li>--><!--                </span>--><!--        </ul>--><!--        </span>-->