<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="/../../sade-projects/textgrid/templates/tmpl1/page_index.html" data-template-at="content-container">
    <div class="section-header" style="position:fixed; z-index:100; width: 100%;">
        <div class="container">
            <div class="row" style="white-space:nowrap;">
                <div id="nb-title" class="hidden-xs hidden-sm col-md-4">
                    <h1 class="animated slideInLeft">
                        <span>Register: </span>
                    </h1>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-5">
                    <h1 class="animated slideInLeft">
                        <span id="register-tab">Periodika</span>
                    </h1>
                </div>
                <div class="hidden-xs col-sm-6 col-md-3">
                    <h1 class="animated slideInLeft">
                        <span id="register-panel"/>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div id="helperUnderSectionHeader" style="height: 75px;"/>
    <div class="container">
        <div data-template="f-indexviewer:tabs" data-template-index="list-periodicals">
            <ul class="nav nav-tabs" style="font-size: smaller;">
                <li><a href="register-listEvent.html">Ereignisse</a></li>
                <li><a href="register-listOrg.html">Institutionen und Körperschaften</a></li>
                <li><a href="register-listPerson.html">Personen und Werke</a></li>
                <li><a href="register-listPlace.html">Geographisches Register</a></li>
                <li><a href="register-list-works.html">Werke</a></li>
                <li><a href="register-list-Fontane.html">Fontanes Werke</a></li>
                <li><a href="register-list-periodicals.html">Periodika</a></li>
            </ul>
        </div>
        <div data-template="f-indexviewer:main" data-template-index="list-periodicals"/>
    </div>
    <script>

        var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&amp;'),
            sParameterName,
            i;

        for (i = 0; i &lt; sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
        };
        $( document ).ready(function() {
            var entity=getUrlParameter('e');
            var pos=$("#"+entity).offset().top - 150;
            $("html").animate({ scrollTop: pos }, 1500);
        });
    </script>
</div>