<?xml version="1.0" encoding="UTF-8"?>
<div data-template="templates:surround" data-template-with="/../../sade-projects/textgrid/templates/tmpl1/page_index.html" data-template-at="content-container">
    <div class="section-header" style="position:fixed; z-index:100; width: 100%;">
        <div class="container">
            <div class="row" style="white-space:nowrap;">
                <div id="nb-title" class="hidden-xs hidden-sm col-md-4">
                    <h1 class="animated slideInLeft">
                        <span>Register</span>
                    </h1>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-5">
                    <h1 class="animated slideInLeft">
                        <span id="register-tab"/>
                    </h1>
                </div>
                <div class="hidden-xs col-sm-6 col-md-3">
                    <h1 class="animated slideInLeft">
                        <span id="register-panel"/>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div id="helperUnderSectionHeader" style="height: 75px;"/>
    <div class="container">
      <ul class="nav nav-tabs" style="font-size: smaller;">
          <li>
              <a href="register-listEvent.html">Ereignisse</a>
          </li>
          <li>
              <a href="register-listOrg.html">Institutionen und Körperschaften</a>
          </li>
          <li>
              <a href="register-listPerson.html">Personen und Werke</a>
          </li>
          <li>
              <a href="register-listPlace.html">Geographisches Register</a>
          </li>
          <li>
              <a href="register-list-works.html">Werke</a>
          </li>
          <li>
              <a href="register-list-Fontane.html">Fontanes Werke</a>
          </li>
          <li>
              <a href="register-list-periodicals.html">Periodika</a>
          </li>
      </ul>
    </div>
</div>
