/* beginn: edierter text */

div#ediTex {
  font-family: "FreeSerif";
  font-size: large;
}
div#ediTex span.line::before {
  content: " ";
}
div#ediTex .hi {
    text-decoration:underline;
}
div#ediTex .stdheader {
    display: none;
}
div#ediTex .stdfooter {
    display: none;
}

/* ende: edierter text */

/* search hits */
span.previous + span.hi {
  color: red;
  font-weight: bold;
}

/* second bar */
span.inactive, span.inactive span {
  border-bottom-color: grey !important;
}

/* infobox */
.pagination > li > a, .pagination > li > span {
      padding: 6px 6px;
}

/* bugfixing bootstrap :-P */
@media (min-width: 1200px) {
span.visible-lg {
    display: inline !important;
  }
}



@media all and (max-width: 600px) {
    #cssmenu > ul > li.active > a {display: none;}
    #cssmenu > ul > li.active:after { display: none;}
    #xmlsearch {display: none;}
}
div#sourceDoc canvas {
    display:block;
}

div#sourceDoc .zone > hr {
    border: 1px solid;
    color:black;
    margin-top: 0;
    }
div#sourceDoc .roman {font-family: FreeSerif, serif;}

div#sourceDoc .lineEmpty {
    display: block;
    color: transparent;
    visibilty: hidden;
}

div#sourceDoc .high_hasty {background-color: lightgreen;}
div#sourceDoc .high_clean {background-color: orange;}

div#sourceDoc .PseudoIEclass {
    visibility: visible;
    }

div#sourceDoc .letter-spacing {
    letter-spacing: 0.2cm;
}
div#sourceDoc .black_letter {
    font-family: 'UnifrakturMaguntia';
}

div#sourceDoc .single-font {
     font-family: sans-serif, sans, 'Arial' !important;
}

div#sourceDoc .ui-tooltip{
    padding:8px;
    position:absolute;
    z-index:999999999;
    max-width:300px;
    -webkit-box-shadow:0 0 5px #aaa;
    box-shadow:0 0 5px #aaa;
    font-family:"FreeSans", sans, "Arial";
    background-color:white;
}

div#sourceDoc .ulxuly{
    background-color:white;
    color:black;
    font-family:"Courier New", Courier, monospace;
    font-size:small;
    font-weight:bold;
    height:20px;
    line-height:0.5cm;
    opacity:0.4;
    position:absolute;
    top:0;
    width:20px;
}


div#sourceDoc  .lrxlry{
    background-color:white;
    bottom:0;
    color:black;
    font-family:"Courier New", Courier, monospace;
    font-size:small;
    font-weight:bold;
    height:20px;
    line-height:0.5cm;
    opacity:0.4;
    position:absolute;
    right:0;
    width:20px;
}
div#sourceDoc .thick_pen{
    font-weight:bold
}
div#sourceDoc .normal{
    font-weight:normal
}
div#sourceDoc .thin_pen{
    font-weight:100
}

div#sourceDoc .button > button {
        -moz-box-sizing: border-box;
    border: 0 none black;
    border-radius: 0 0 0 0;
    height: 24px;
    margin: 0;
    padding: 2px;
    width: 100%;
    z-index: 10;
    }
div#sourceDoc .button > button:hover {
background-color: #CB1A31;
}
div#sourceDoc #buttons-button {
    background-color: lightgrey;
    bottom: 0;
    cursor: help;
    font-size: x-large;
    height: 35px;
    position: fixed;
    right: 0;
    text-align: center;
    width: 53px;
    z-index: 10;
}
div#sourceDoc ul.hidden.visible {
    margin-left: -35px;
}
.hidden {
    display: none;
}
.visible {
    display: inherit;
}
div#sourceDoc p {
    text-align: justify;
}
/*a:link {*/
/*    color: #2B73B7;*/
/*    font-weight: bold;*/
/*    text-decoration: none;*/
/*}*/
div#sourceDoc a:visited {
    color: #CB1A31;
    font-weight: lighter;
    text-decoration: none;
}
.northwest > p {
    font-size: 1.3em;
    margin-left: 65%;
    margin-top: -20px;
}
/* moved to css.xql
@font-face {
    font-family: "FreeSerif";
    src: local("FreeSerif"), url("/public/fonts/woff/FreeSerif.woff") format("woff");
}
@font-face {
    font-family: "FreeSans";
    src: local("FreeSans"), url("/public/fonts/woff/FreeSans.woff") format("woff");
}
*/
div#sourceDoc .surface {
    background: url("http://fontane-nb.dariah.eu/public/js/pics/fontane_empty_bg-cut-bright-compressed-repeat.png") repeat scroll 0 0 papayawhip;
    border: 0 none;
    font-family: "FreeSerif";
    font-size: 20px;
    line-height: 1cm;
    margin-left: 0.7cm;
    margin-top: 10px;
    page-break-after: always;
    position: relative;
    white-space: nowrap;
    z-index: 0;
}
div#sourceDoc .surface h1 {
    float: right;
    position: absolute;
    right: 2%;
    visibility: hidden;
}
div#sourceDoc .surface_empty {
    max-height: 2cm;
}
div#sourceDoc .surfacefacs {
    margin-left: 12cm;
}
div#sourceDoc .ruler {
    z-index: 10000000;
}
div#sourceDoc .facs {
    visibility: hidden;
}
div#sourceDoc .zone {
/*    border: 1px dashed yellowgreen; */
    border-width: 1px;
    color: #575757;
    z-index: 1;
}
div#sourceDoc .outer_front {
    background-image: url("http://fontane-nb.dariah.eu/public/js/1px_papayawhip.png");
}
div#sourceDoc .addSpan {
    font-size: small;
    line-height: 100%;
}
div#sourceDoc .figuretext {
    background-color: #FFFFFF;
    color: black;
    line-height: 1;
    opacity: 0.6;
    z-index: 3;
}
div#sourceDoc .figure {
    z-index: 1;
}
div#sourceDoc .max-z-index {
    z-index: 100;
}
div#sourceDoc .zone_hidden {
    visibility: hidden;
}
div#sourceDoc .fw {
    font-family: cursive;
    font-size: 66%;
    line-height: 0;
    position: relative;
    top: 3mm;
}
div#sourceDoc .fw + .fw {
    float: left;
    margin-top: 4mm;
}
div#sourceDoc .fwOnly {
    font-family: cursive;
    font-size: 66%;
    /*position: absolute;*/
    right: 2mm;
}
div#sourceDoc sup {
    font-size: small;
}
div#sourceDoc .stamp {
    display: block;
    position: absolute;
}
div#sourceDoc .date, div#sourceDoc div.button .date {
}
div#sourceDoc .person, div#sourceDoc div.button .person {
}
div#sourceDoc .place, div#sourceDoc div.button .place {
}
div#sourceDoc .gap, div#sourceDoc  div.button .gap {
}
div#sourceDoc .highgap, div#sourceDoc div.button .highgap {
    background-color: #BC02B9;
}
div#sourceDoc .addPlaceAboveCaretSlash svg {
    bottom: 0;
    display: inline-block;
    position: absolute;
}
div#sourceDoc .addPlaceAboveCaretBow, div#sourceDoc .addPlaceAboveCaretCurvedV, div#sourceDoc .addPlaceAboveCaretV, div#sourceDoc .addPlaceAboveCaretSlash {
    display: inline-block;
    font-size: smaller;
    margin-top: -0.5cm;
    position: absolute;
}

div#sourceDoc .addPlaceAboveCaretBow svg, div#sourceDoc .addPlaceAboveCaretCurvedV svg, div#sourceDoc  .addPlaceAboveCaretV svg  {
    display: inline-block;
    position: absolute;
}

div#sourceDoc .gap_info {
    color:black;
    font-size:smaller;
    display: table-caption;;
}
div#sourceDoc .highdate, div.button .highdate {
    background-color: #FFFF99;
}
div#sourceDoc .highperson, div.button .highperson {
    background-color: #85A3FF;
}
div#sourceDoc .highplace, div.button .highplace {
    background-color: #4DB870;
}
div#sourceDoc .highdirect, div.button .highdirect {
    background-color: #FF99CC;
}
div#sourceDoc .hi, div.button .hi {
}
div#sourceDoc .highhi, div.button .highhi {
    background-color: #00FFFF;
}
div#sourceDoc .mod, div.button .mod {
}
div#sourceDoc .highmod, div.button .highmod {
    background-color: #FF82FF;
}
div#sourceDoc .del, div.button .del {
}
div#sourceDoc .highdel, div.button .highdel {
    background-color: #5C85AD;
}
div#sourceDoc .linethrough {
    text-decoration: line-through;
}
div#sourceDoc .linethroughblue {
    -moz-text-blink: none;
    -moz-text-decoration-color: blue;
    -moz-text-decoration-line: line-through;
    -moz-text-decoration-style: solid;
}
div#sourceDoc .linethroughjagged {
    background-image: url("http://fontane-nb.dariah.eu/js/lts-jagged.svg");
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
div#sourceDoc .linethroughretrace {
    background-image: url('http://fontane-nb.dariah.eu/public/js/line-through-retrace.png');
    background-size: 116% 95%;
}
div#sourceDoc button.linethrough {
    text-decoration: none;
}
div#sourceDoc .highlinethrough, div.button .highlinethrough {
    background-color: #4CBB17;
}
div#sourceDoc .hidelinenumber {
    background: none repeat scroll 0 0 lightgrey;
    color: black;
    float: left;
    font-family: Courier,Monospace;
    font-size: small;
    margin-left: -1.5vw;
    position: absolute;
    visibility: hidden;
    z-index: 10000;
}
div#sourceDoc .linenumber {
    visibility: visible;
    z-index: 10000001;
}
div#sourceDoc .line {
    display: block;
}
div#sourceDoc .pencil {
 color: #575757;
}
div#sourceDoc .Latn {
    font-family: "FreeSans",sans-serif;
    font-size: 85%;
}
div#sourceDoc .black_ink {
    color: black;
}
div#sourceDoc .brown_ink {
    border-color: sienna;
    color: sienna;
}
div#sourceDoc .blue_pencil {
    color: royalblue;
}
div#sourceDoc .underline {
    border-bottom: 1px solid;
}
div#sourceDoc .underlinedouble {
    border-bottom-style: double;
}
div#sourceDoc .underlinewavy {
    border-image-repeat: repeat repeat;
    border-image-slice: 12 12 12 12;
    border-image-source: url("http://fontane-nb.dariah.eu/public/js/border.png");
    border-left: 0 none;
    border-right: 0 none;
    border-style: none none solid;
    border-top: 0 none;
}
div#sourceDoc .underlineX {
border-style: solid;
border-width: 0px 0px 5px;
-moz-border-image: url(http://fontane-nb.dariah.eu/public/js/underline-x.svg) 0 0 20 stretch;
-webkit-border-image: url(http://fontane-nb.dariah.eu/public/js/underline-x.svg) 0 0 20 stretch;
-o-border-image: url(http://fontane-nb.dariah.eu/public/js/underline-x.svg) 0 0 20 stretch;
border-image: url(http://fontane-nb.dariah.eu/public/js/underline-x.svg) 0 0 20 stretch;
}
div#sourceDoc .underlineRetrace {
border-style: solid;
border-width: 0px 0px 5px;
-moz-border-image: url(http://fontane-nb.dariah.eu/public/js/underline-retrace.svg) 0 0 20 stretch;
-webkit-border-image: url(http://fontane-nb.dariah.eu/public/js/underline-retrace.svg) 0 0 20 stretch;
-o-border-image: url(http://fontane-nb.dariah.eu/public/js/underline-retrace.svg) 0 0 20 stretch;
border-image: url(http://fontane-nb.dariah.eu/public/js/underline-retrace.svg) 0 0 20 stretch;
}
div#sourceDoc .underlineblueink {
    border-bottom: 1px solid blue;
}
div#sourceDoc .underlinebluepencil {
    border-image-repeat: repeat repeat;
    border-image-slice: 10 10 10 10;
    border-image-source: url("http://fontane-nb.dariah.eu/public/js/border_blue_pencil.png");
    border-left: 0 none;
    border-right: 0 none;
    border-style: none none solid;
    border-top: 0 none;
    border-width: 0 0 1px;
}
div#sourceDoc .underlinebluepencilbold {
    border-image-repeat: repeat repeat;
    border-image-slice: 10 10 10 10;
    border-image-source: url("http://fontane-nb.dariah.eu/public/js/border_blue_pencil.png");
    border-left: 0 none;
    border-right: 0 none;
    border-style: none none solid;
    border-top: 0 none;
    border-width: 0 0 3px;
}
div#sourceDoc .underlinebluepencilwavy {
    border-image-repeat: repeat repeat;
    border-image-slice: 12 12 12 12;
    border-image-source: url("http://fontane-nb.dariah.eu/public/js/border_blue_pencil_wavy.png");
    border-left: 0 none;
    border-right: 0 none;
    border-style: none none solid;
    border-top: 0 none;
}
div#sourceDoc .underlinewavybrownink {
    border-image-repeat: repeat repeat;
    border-image-slice: 7 7 7 7;
    border-image-source: url("http://fontane-nb.dariah.eu/public/js/wavy-border-brownink-full.png");
    border-left: 0 none;
    border-right: 0 none;
    border-style: none none solid;
    border-top: 0 none;
}
div#sourceDoc .border-right-wavy {
    border-image-slice: 10 10 10 10;
    border-image-source: url("http://fontane-nb.dariah.eu/public/js/wavy-border-full.png");
    border-right-width: 6px !important;
}
div#sourceDoc .border-left-wavy {
    border-image-slice: 10 10 10 10;
    border-image-source: url("http://fontane-nb.dariah.eu/public/js/wavy-border-full.png");
    border-left-width: 6px !important;
}
div#sourceDoc .border-top-wavy {
    border-image-slice: 10 10 10 10;
    border-image-source: url("http://fontane-nb.dariah.eu/public/js/wavy-border-full.png");
    border-top-width: 6px 0 0 0;
}
div#sourceDoc .border-bottom-wavy {
    border-image-slice: 10 10 10 10;
    border-image-source: url("http://fontane-nb.dariah.eu/public/js/wavy-border-full.png");
    border-bottom-width: 6px;
}
div#sourceDoc .border-left-brace {
    border-image-slice: 0 40 0 20;
    border-image-source: url("http://fontane-nb.dariah.eu/public/js/border/brace-left-right.png");
    border-left-style: solid;
    border-width: 0 0 0 10px;
}
div#sourceDoc .retraced {
    position: absolute;
    margin-left: 0.5mm;
}

div#sourceDoc .fraction {
    display: inline;
    font-size: smaller;
    height: 100%;
    margin-top: -7px;
    transform: scale(0.9);
    vertical-align: middle;
}
div#sourceDoc .fractionlike {
    display: inline-block;
    height: 0;
    margin-top: -7px;
}
div#sourceDoc .fraction td {
    text-align: center;
}
div#sourceDoc .border-top {
    /* used for fractions */
    border-top-style: solid;
    border-top-width: 1px;
}
div#sourceDoc  .ltsDouble {
    background-image: url("http://fontane-nb.dariah.eu/public/js/ltsDouble-bg.png");
    background-repeat: repeat-x;
    background-size: 100% 100%;
    text-decoration: line-through;
}

div#sourceDoc .button {
    float: right;
}
div#sourceDoc .highFriedrich_Fontane {
    background-color: #3399FF;
}
div#sourceDoc .highfremde_Hand1 {
    background-color: #A9D4FF;
}
div#sourceDoc .highfremde_Hand2 {
    background-color: #A9D4FF;
}
div#sourceDoc .highfremde_Hand3 {
    background-color: #A9D4FF;
}
div#sourceDoc .high_brown_ink, div.button ul.hidden li.high_brown_ink {
    background-color: #A37519;
}
div#sourceDoc .high_black_ink, div.button .high_black_ink {
    background-color: #949494;
}
div#sourceDoc .high_ink, div.button .high_ink {
    background-color: #949494;
}
div#sourceDoc .highabbr, div.button .highabbr {
    background-color: #FF9900;
}
div#sourceDoc .high, div.button .high {
    background-color: red;
}
div#sourceDoc .hidden {
    visibility: hidden;
}
div#sourceDoc .visible {
    visibility: visible;
}
div#sourceDoc div.button ul {
    margin-bottom: 0;
    margin-top: 0;
}
div#sourceDoc div.ruler {
    margin-left: 0;
}
div#sourceDoc .ui-tooltip {
    background-color: white;
    box-shadow: 0 0 5px #AAAAAA;
    font-family: "FreeSans",sans,Arial;
    max-width: 300px;
    padding: 8px;
    position: absolute;
    z-index: 999999999;
}

.metamark.deletion.no-border::after {
    border: none;
}
